<!DOCTYPE>
<html ng-app>
<head>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <title>Admin</title>
</head>
<body>
    <div class="container" ng-controller="AppCtrl">
        <h1>Notes</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>message</th>
                    <th>Action</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td><button class="btn btn-info" ng-click="update()">Update</button>&nbsp;&nbsp;</td>
                </tr>
                <tr ng-repeat="note in notelist">
                    <td>{{message.name}}</td>
                    <td>{{message.msg}}</td>
                    
                </tr>
            </tbody>
        </table>
        
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.32/angular.min.js"></script>
    <script src="controllers/controller.js"></script>
</body>


</html>